@page {
    margin: 1cm;
    size: A4;
}

body {
    font-family: 'Cabin', sans-serif;
}

.sidebar {
    width: 6cm;
    overflow-wrap: break-word;
    background-color: #1C1D1F;
    color: #BABABA;
    padding: 0.5cm;
}

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.sidebar a {
    color: #789EBB;
}

.sidebar p {
    margin-top: 0.1cm;
    margin-bottom: 0.2cm;
}
.sidebar h2 {
    font-size: 34pt;
    font-weight: bold;
    margin-top: -0.25cm;
    margin-bottom: 0;
}
.sidebar h2, .sidebar h3 {
    color: #6CCBB0;
}

.technologyType {
    color: #6CCBB0;
    margin-left: -0.6cm;
    font-size: 14pt;
    margin-top: 0.2cm;
    list-style: none;
}


.technology {
    margin-left: -1cm;
}

.sidebar > .technologies > h3 {
    margin-bottom: -0.25cm;
}

.personalField {
    color: #6CCBB0;
}

.content {
    width: 12cm;
    padding-left: 0.15cm;
}

.professionalExperience {
    font-size: 22pt;
    font-weight: bold;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #BABABA;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    color: #1C1D1F;
}

.experience-block {
    margin-bottom: 0.1cm;
    margin-top: 0;
}

.jobTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16pt;
}

.employerName {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14pt;
}

.employerDates {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 12pt;
}

.achievements {
    margin-top: 0.1cm;
    font-size: 12pt;
}

.achievements > li {
    margin-bottom: 0.025cm;
}