@page {
    margin: 1cm;
    size: A4;
}

/* latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cabin'), local('Cabin-Regular'), url(cabin-font.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Cabin', sans-serif;
}

.sidebar {
    width: 6.5cm;
    overflow-wrap: break-word;
    background-color: #1C1D1F;
    color: #BABABA;
    padding: 0.5cm;
    height: 28.25cm;
}

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.sidebar a {
    color: #789EBB;
}

.sidebar p {
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
}
.sidebar h2 {
    font-size: 34pt;
    font-weight: bold;
    margin-top: -0.25cm;
    margin-bottom: 0;
}
.sidebar h2, .sidebar h3 {
    color: #6CCBB0;
}

.technologyType {
    color: #6CCBB0;
    margin-left: -0.6cm;
    font-size: 14pt;
    margin-top: 0.2cm;
    list-style: none;
}

.technology {
    margin-left: -1cm;
}

.sidebar > .technologies > h3 {
    margin-bottom: -0.25cm;
    margin-top: 0.2cm;
}

.education > h3 {
    margin-bottom: 0.2cm;
    margin-top: 0.2cm;
}
.education > p {
    margin-top: 0.15cm;
    margin-bottom: 0.15cm;
}

.personalField {
    color: #6CCBB0;
}

.content {
    width: 12cm;
    padding-left: 0.15cm;
}

.professionalExperience {
    font-size: 22pt;
    font-weight: bold;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #BABABA;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    color: #1C1D1F;
}

.experience-block {
    margin-bottom: 0.1cm;
    margin-top: 0;
}

.jobTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15pt;
}

.employerName {
    margin-top: 0;
    margin-bottom: 0.035cm;
    font-size: 13pt;
}

.employerDates {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 11pt;
    float: right;
}

.achievements {
    margin-top: 0.1cm;
    margin-bottom: 0cm;
    font-size: 11pt;
}

.achievements > li {
    margin-bottom: 0.025cm;
}

.qr-code {
    width: 50px;
    height: 50px;
    float: left;
}

.qr-code-description {
    float: left;
    margin-left: 0.2cm;
    font-size: 11pt;
    color: #BABABA;
}
