<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <div class="personal">
                    <h2>{{.Personal.Name}}</h2>
                    <p><span class="personalField">Address:</span><br /> {{.Personal.Address}}</p>
                    <p><span class="personalField">Phone:</span><br /> {{.Personal.Phone}}</p>
                    <p><span class="personalField">Email:</span><br /> {{.Personal.Email}}</p>
                    <p><span class="personalField">Github:</span><br /> <a href="https://{{.Social.Github}}">{{.Social.Github}}</a></p>
                    </p>
                </div>
                <div class="education">
                    <h3>Education</h3>
                    <p>{{.Education.School}}</p>
                    <p>{{.Education.Degree}} (Class of {{.Education.ClassOf}})</p>
                    <p>{{.Education.Gpa}} Cumulative GPA</p>
                </div>
                <div class="technologies">
                    <h3>Languages and Technologies</h3>
                    <ul>
                        {{ range .Technologies }}
                            {{ range $k, $v := .}}
                            <li class="technologyType">{{ $k }}</li>
                                {{ if $v }}
                                <ul>
                                    {{ range $v }}
                                    <li class="technology">{{ . }}</li>
                                    {{ end }}
                                </ul>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <div>
                    <a href="https://bitbucket.org/ssklar/resume/src/master/">
                        <img class="qr-code" src="qr-code.png" alt="https://bitbucket.org/ssklar/resume/src/master/" />
                        <span class="qr-code-description">Click Here to see how I made<br />this resume using Go!</span>
                    </a>
                </div>

            </div>
            <div class="content">
                <h3 class="professionalExperience">Professional Experience</h3>
                <div class="experience-block">
                    {{ range .Experience}}
                    <div class="experience-content">
                        <h3 class="jobTitle">{{.Title}}</h3>
                        <h4 class="employerName">{{.Employer}} <span class="employerDates">{{.DateStart}}-{{ if .DateEnd }}{{.DateEnd}}{{else}}Present{{ end }}</span></h4>
                        <ul class="achievements">
                            {{ range .Achievements }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
